@{
    ViewData["Title"] = "Compte confirmé";
}

<h2>Votre inscription a bien été confirmée</h2>
<div>
    <p>
        Si vous m'en disiez plus sur vous, on pourrait terminer votre inscription et commencer à jouer.
    </p>
    <p>
        <a href="/Utilisateur/Inscription/?userId=@ViewData["userID"]">Finir inscription</a>
    </p>
</div>
